@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import '../node_modules/minireset.css/minireset';
@import 'partials/tools';
@import 'partials/variables';
@import 'partials/header';
@import 'partials/about';
@import 'partials/skills';
@import 'partials/testimonials';
@import 'partials/contact';
@import 'partials/footer';


* {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

.logo {
  height: 2rem;
}

.logo-tall {
  height: 10rem;
}

#btn {
  height: 2.5rem;
  width: 2.5rem;
  background: $secondary;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;

  i {
    font-size: 2rem;
    color: $white;
  }
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;



}

.flex {
  @include media-query($tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.hero {
  background-color: $primary;
  color: $white;
  padding: 5em 0;

  &__header {
    font-size: 3.5rem;

    @include media-query($tablet) {
      width: 30%;
    }

    &--gold {
      color: $secondary;
    }
  }

  &__text {
    font-size: 1.5rem;
  }

  &__image {
    border-radius: 2rem;
    margin-bottom: 1rem;
  }

  &__content {
    @include media-query($tablet) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 4rem;
      width: 50%;
    }
  }
}