*,
*::before,
*::after {
    box-sizing: border-box;
}

.info {
    padding: 1em 0;
    background-color: #f1f1f1;

    &__header {
        color: $secondary;
        font-size: 1.8rem;
    }

    &__text {
        font-size: 1.1rem;
    }

    &__content {
        @include media-query($tablet) {
            width: 30%;
            text-align: center;
        }
    }
}