// Variables

// Colors
$primary: #b6afaf;
$secondary: #E89138;
$terciary: #F5BF2F;

$white: #fff;
$gray: #ccc;
$black: #2c2c2c;

// Media
$tablet: "screen and (min-width: 768px)";
$desktop: "screen and (min-width: 992px)";
$large: "screen and (min-width: 1200px)";